body {
    background: #444;
    color: #666;
    font-family: arial;
    font-size: 20px;
    line-height: 1.4em;
}

div {
    width: 100%;
    box-sizing: border-box;
}

.calculator {
    width: 320px;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 2em;
    line-height: 2.2em;
    margin: 0;
    color: #222;
    word-break: break-all;
}

p {
    margin: 0;
    padding: 0;
    font-size: .7em;
    font-weight: 300;
    letter-spacing: .1em;
    overflow: hidden;
}

.screen {
    padding: 0 20px;
    text-align: right;
    background: #ddd;
    border: solid 1px #444;
}

.row {
    clear: both;
}

button {
    font-size: 1em;
    width: 25%;
    height: 50px;
    line-height: 50px;
    float: left;
    background: #ddd;
    border: solid 1px #444;
}

button.lighter {
    background: #eee;
    font-weight: 700;
}

button.click, button:hover {
    background: #aaa;
}

button.dark-hover:hover {
    background: #666;
    color: #eee;
}

button.dark-hover.click, button.dark-hover:active {
    background: #888;
}

button[disabled], button.dark-hover[disabled] {
    background: #ddd;
    color: #777;
}

button:focus {
    outline: none;
}

@media (max-width: 320px) {
    .calculator {
        width: 100%;
    }
}

.links {
    font-size: 14px;
    width: initial;
    text-align: center;
    padding-top: 40px;
}
.links a {
    text-decoration: none;
    display: inline-block;
    background: #ddd;
    border: solid 1px #444;
    color: #222;
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.links a:hover {
    background: #aaa;
}
.clearfix {
    clear: both;
}